<h1><%= @track.title %></h1>
<p>Track Number: <%= @track.ord %></p>
<p>Type: <%= @track.bonus ? "Bonus" : "Regular" %></p>
<p>Lyrics</p> 
<div>
	<% @track.lyrics.split("\n").each do |line| %>
		<p><%= line %></p>
	<% end %>
</div>

<%= link_to "Update Track", edit_track_url(@track) %>
<form action="<%= track_url(@track) %>" method="post">
	<%= authenticity_token %>
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete track">
</form>

<h2>Comments</h2>
<form action="<%= notes_url %>" method="post">
	<input type="hidden" name="note[track_id]" value="<%= @track.id %>">
	<textarea name="note[content]"></textarea>
	<input type="submit" value="Create">
</form>
<ul>
	<% if @track.notes.count > 0 %>
		<% @track.notes.each do |note| %>
			<li>
				<%= note.content %>
				<% if current_user.id == note.user_id %>
					<form action="<%= note_url(note) %>" method="post">
						<%= authenticity_token %>
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Delete">
					</form>
				<% end %>
			</li>
		<% end %>
	<% else %>
		<li>No comments</li>
	<% end %>
</ul>