<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
		<nav>
			<% if current_user.nil? %>
				<ul>
					<li><a href="<%= new_session_url %>">Login</a></li>
					<li><a href="<%= new_user_url %>">Register</a></li>
					<li><a href="<%= bands_url %>">All Bands</a></li>
				</ul>
			<% else %>
				<form action="<%= session_url %>" method="POST">
					<%= authenticity_token %>
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" value="Logout">
				</form>
			<% end %>
		</nav>
    <%= yield %>
  </body>
</html>
